@model HomePaymentInfoModel

<div>
	<div id="liqpay_checkout"></div>
</div>
<script type="text/jscript">
	function test() {
		$.get("/Home/Test");
	};
</script>
<script src="//static.liqpay.ua/libjs/checkout.js" async></script>
<script>
	window.LiqPayCheckoutCallback = function () {
		const data = atob("@Model.Data")
		const signature = atob("@Model.Signature");

		console.log(data);
		console.log(signature)

		const p = LiqPayCheckout.init({
			data: data,
			signature: signature,
			embedTo: "#liqpay_checkout",
			language: "ru",
			mode: "embed" // embed || popup
		}).on("liqpay.callback", function (data) {
			console.log(data.status);
			console.log(data);
			if (data.status == "success") {
			test();
			}
		});
	};
</script>

